


.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}


.idols_createANDupdate_errorAtlert {
    display: none;
    color: red;
    margin-bottom: 15px; }
